.vertical-center-component {
    display: flex;
    flex-direction: column;
    max-height: 100%; 
    padding-bottom: 2rem; 
    box-sizing: border-box; 
    align-items: center;
    background-color: antiquewhite;
  }

